.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blueviolet;
  }
  .App h2 {
    text-align: center;
}
.App p {
  font-size: 15px;
  font-weight: 700;
}